
@font-face {font-family: Gilroy-ExtraBold; src: url(Gilroy-ExtraBold.woff);}
@font-face {font-family: Gilroy-Regular; src: url(Gilroy-Regular.woff);}


	* 
	{
		outline: none;
	}

	body
	{
		text-align: center;
		background-color: rgba(241, 242, 244, 1.00);
		font-family: Gilroy-Regular, Gilroy, sans-serif;
		color: #464646;
		font-size: calc(8pt + 1vw);
	}

	/*.bottomMenu { visibility: hidden; }*/

/*Deesktop menu*/

	#desktopmenu
	{
		visibility: hidden;
		/*transition: 0.2s;*/
		word-spacing: 1em;
		text-align: right;
		position: absolute;
		top: 20px;
		line-height: 36pt;
		vertical-align: middle;
		width: calc(100% - 365px);
		right: 40px;
		z-index: 999;
	}

	#desktopmenu a 
	{
		transition: 0.4s;
		/*font-size: 36pt;*/
		color: rgba(70, 70, 70, 0.80);
	}

	#desktopmenu a:hover
	{
		line-height: 36pt;
		color: rgba(70, 70, 70, 1.00);
	}

	#desktopmenu a:active
	{
		color: rgba(70, 70, 70, 1.00);
	}

	.mnitem
	{
		min-width: 80px;
		font-family: Gilroy-ExtraBold, Gilroy-Regular, Gilroy, sans-serif;
	}

/*Mobile Menu*/
	#tmenu
	{
		visibility: visible;
		/*transition: 0.2s;*/
		letter-spacing: 1em;
		text-align: right;
		position: absolute;
		top: 20px;
		line-height: 36pt;
		vertical-align: middle;
		width: calc(100% - 365px);
		right: 40px;
		z-index: 999;
	}

	#tmenu a 
	{
		/*transition: 0.4s;*/
		font-size: 36pt;
		color: rgba(70, 70, 70, 0.80);
	}

	#tmenu a:hover
	{
		line-height: 36pt;
		color: rgba(70, 70, 70, 1.00);
	}

	#tmenu a:active
	{
		color: rgba(70, 70, 70, 1.00);
	}

	.mnitem
	{
		min-width: 80px;
		font-family: Gilroy-ExtraBold, Gilroy-Regular, Gilroy, sans-serif;
	}

	/*#tmenu .item { vertical-align: middle; line-height: 36pt; }*/

	.noselect
	{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
    }

	#logo
	{
		transition-duration: 0.4s;
		-webkit-transition-duration: 0.4s;
		vertical-align: text-bottom;
		font-weight: 800;
		letter-spacing: -0.07em;
		font-family: Gilroy-ExtraBold, Gilroy-Regular, Gilroy, sans-serif;
	}

	#tinylogo 
	{
		color: rgba(241, 242, 244, 1.00);
		margin-right: 25px;
		float: right;
		cursor: default;
		font-size: calc(24pt + 0.4vw);
		position: relative;
		vertical-align: middle;
	}

	.fleft
	{
		position: relative;
		bottom: 30px;
	}

	.wb
	{
		background-color: white;
		width: 6em;
	}

	.bb
	{
		background-color: black;
		width: 6em;
	}

	.grad
	{
		background-image: linear-gradient(to right, #DCAFC6 , #64519F);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		letter-spacing: -0.05em;
	}

	.olnogradb
	{
		font-size: 0.98em;
		-webkit-text-stroke-width: 0.025em;
		-webkit-text-stroke-color: rgba(70, 70, 70, 1.00);
		letter-spacing: -0.05em;
		-webkit-text-fill-color: transparent;
	}

	.olnogradw
	{
		font-size: 0.98em;
		-webkit-text-stroke-width: 0.025em;
		-webkit-text-stroke-color: rgba(241, 242, 244, 1.00);
		letter-spacing: -0.05em;
		-webkit-text-fill-color: transparent;
	}

	.gradbg
	{
		background-image: linear-gradient(230deg, #DCAFC6 , #64519F);
	}

	b 
	{
		letter-spacing: -0.05em;
	}

	.ol
	{
		font-size: 43pt;
		letter-spacing: -0.079em;
		-webkit-text-stroke-width: 0.02em;
		-webkit-text-stroke-color: rgba(233, 233, 233, 1.00);
	}
	
	#first { position: absolute; top: 25px; left: 28px; z-index: 2; font-size: calc(2.7em + 0.41vw); }

	#second 
	{
		cursor: pointer;
		font-size: calc(2.7em + 0.41vw);
		z-index: 3;
		transition: opacity 0.7s; 
		position: absolute; 
		top: 25px; 
		left: 28px; 
	}
	
	#second .grad
	{
		background-image: linear-gradient(to right, #64519F , #DCAFC6);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		letter-spacing: -0.05em;
	}
	
	#second:hover { opacity: 0; }
	#second:active { opacity: 0; }

	#sep
	{
		background-color: rgba(241, 242, 244, 1.00);
		color: rgba(241, 242, 244, 1.00);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
	}
	
	#container
	{
		/*text-align: left;*/
		background-color: rgba(241, 242, 244, 1.00);
		color: rgba(70, 70, 70, 1.00);
		width: 100%;
		height: calc(100% - 10px);
		position: absolute;
		top: 10px;
		left: 0px;
		border-top-right-radius: 80px;
	}

	#subcontainer
	{
		transition-duration: 0.4s;
		-webkit-transition-duration: 0.4s;
		text-align: left;
		padding: 35px;
	}

	#subcontainer p 
	{
/*		align: right;
		max-width: calc(100% - 120px);
*/
	}

	#foo
	{
		transition-duration: 0.4s;
		-webkit-transition-duration: 0.4s;
		text-align: left;
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 4.9em;
		color: #fff;
	}
	#foo p 
	{
		margin-left: 25px;
	}

	#bottom-spacer 
	{
		height: 8.5em;
	}

	#footer
	{
		background-color: rgba(70, 70, 70, 0.98);
		transition-duration: 0.4s;
		-webkit-transition-duration: 0.4s;
		text-align: left;
		position: fixed;
		bottom: 0px;
		float: left;
		left: 0px;
		width: 100%;
		height: 4.5em;
		color: #fff;	
	}

	#footer p 
	{
		margin-left: 25px;
		/*float: left;*/
		position: absolute;
		bottom: 1vw;
		vertical-align: middle;
	}

	button
	{
		cursor: pointer;
		border-radius: 10px;
		/*height: calc(1.7em + 0.4vw);*/
		/*min-height: 12pt;*/
		height: 2.4em;
		/*background-color: #4CAF50; */
		border: none;
		color: white;
		padding: .2em 2.5em;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: calc(11pt + 0.21vw);
		transition-duration: 0.4s;
		-webkit-transition-duration: 0.4s;
	}

	.prp 
	{
		background-image: linear-gradient(0deg, rgba(101, 81, 159, 0.70) , rgba(220, 175, 198, 0.70));

	}

	.rouge 
	{
		background-image: linear-gradient(0deg, rgba(219, 114, 129, 0.70) , rgba(254, 99, 78, 0.70));

	}

	.greene
	{
		background-image: linear-gradient(0deg, rgba(44, 193, 128, 0.70) , rgba(156, 212, 130, 0.70));

	}

	.prp:hover
	{
		background-image: linear-gradient(0deg, rgba(101, 81, 159, 0.70) , rgba(220, 175, 198, 1.0));

	}

	.rouge:hover
	{
		background-image: linear-gradient(0deg, rgba(219, 114, 129, 0.70) , rgba(254, 99, 78, 1.0));

	}

	.greene:hover
	{
		background-image: linear-gradient(0deg, rgba(44, 193, 128, 0.70) , rgba(156, 212, 130, 1.0));

	}

	.prp:active
	{
		background-image: linear-gradient(0deg, rgba(101, 81, 159, 1.0) , rgba(220, 175, 198, 1.0));

	}

	.rouge:active
	{
		background-image: linear-gradient(0deg, rgba(219, 114, 129, 1.0) , rgba(254, 99, 78, 1.0));

	}

	.greene:active
	{
		background-image: linear-gradient(0deg, rgba(44, 193, 128, 1.0) , rgba(156, 212, 130, 1.0));

	}

/* W3C stuff */


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  /*background-color: #64519F;*/
  background-image: linear-gradient(45deg, rgba(101, 81, 159, 0.70) , rgba(220, 175, 198, 0.70));
}

#grn input:checked + .slider {
  /*background-color: #64519F;*/
  background-image: linear-gradient(270deg, rgba(44, 193, 128, 1.00) , rgba(156, 212, 130, 1.00)) !important;
}

#red input:checked + .slider {
  /*background-color: #64519F;*/
  background-image: linear-gradient(270deg, rgba(219, 114, 129, 0.60) , rgba(254, 99, 78, 0.60)) !important;
}

input:focus + .slider {
  box-shadow: 0 0 0px #64519F;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Viewport stuff*/

@media (min-width: 50em) {
  h1 {
    font-size: 50px;
  }
}

@media (min-width: 50em) {
   #tmenu {
   	visibility: hidden;
  }
   #desktopmenu {
   	visibility: visible;
   }
}
