/*                          _            _                 ## unreal.css
 _   _ _ __  _ __ ___  __ _| |_   _____ (_) ___ ___  ___   ## Global CSS for Unreal Voices
| | | | '_ \| '__/ _ \/ _` | \ \ / / _ \| |/ __/ _ \/ __|  ## by Thom Vaughan
| |_| | | | | | |  __/ (_| | |\ V / (_) | | (_|  __/\__ \  ## https://thom.ninja
 \__,_|_| |_|_|  \___|\__,_|_| \_/ \___/|_|\___\___||___/  ## January 2020
*/

:root /* Master Colour Values Here */
{

/* B/W Option 1 */
/*
	--unreal-blk: #464646;
	--unreal-wht: #f1f2f4;
*/
/* B/W Option 2 */

	--unreal-blk: #252525;
	--unreal-wht: #e9e9e9;


/* --gr1 is the lighter shade, --gr2 is darker shade */

/* Gradient Option 1, Minty Blue */
/*
	--unreal-colour-gr1: #91eae5;
	--unreal-colour-gr2: #56b3d1;
*/
/* Gradient Option 2, Hugh Orange */
/*
	--unreal-colour-gr1: #f1e072;
	--unreal-colour-gr2: #fe9d5c;
*/

/* Gradient Option 3, "Green Beach" */
/*
	--unreal-colour-gr1: #00CDAC;
	--unreal-colour-gr2: #02AAB0;

*/
/* Gradient Option 4, Thom Blue 1 */
/*
	--unreal-colour-gr1: #525c97;
	--unreal-colour-gr2: #448cb6;

*/
/* Gradient Option 5, Thom Blue 2 */
/*
	--unreal-colour-gr1: #a3bded;
	--unreal-colour-gr2: #6991c7;
*/

/* Gradient Option 6, Peach */

	--unreal-colour-gr1: #ed6ea0;
	--unreal-colour-gr2: #ec8c69;

}

@font-face {font-family: Gilroy-ExtraBold; src: url(Gilroy-ExtraBold.woff);}
@font-face {font-family: Gilroy-Regular; src: url(Gilroy-Regular.woff);}

* 
{
	outline: none;
}

body
{
	text-align: center;
	background-color: var(--unreal-wht);
	font-family: Gilroy-Regular, Gilroy, sans-serif;
	color: var(--unreal-blk);
}

/*Desktop Menu*/
#desktopmenu
{
	visibility: hidden;
	word-spacing: 1em;
	text-align: right;
	position: absolute;
	top: 20px;
	line-height: 36pt;
	vertical-align: middle;
	width: calc(100% - 365px);
	right: 40px;
	z-index: 999;
}

#desktopmenu a 
{
	transition: 0.4s;
	color: var(--unreal-blk);
	opacity: 0.8;
	text-decoration: none;
}

#desktopmenu a:hover
{
	line-height: 36pt;
	color: var(--unreal-blk);
}

#desktopmenu a:active
{
	color: var(--unreal-blk);
}

.mnitem
{
	min-width: 80px;
	font-family: Gilroy-ExtraBold, Gilroy-Regular, Gilroy, sans-serif;
}

/*Mobile Menu*/
#tmenu
{
	visibility: visible;
	letter-spacing: 1em;
	text-align: right;
	position: absolute;
	top: 20px;
	line-height: 36pt;
	vertical-align: middle;
	width: calc(100% - 365px);
	right: 40px;
	z-index: 999;
}

#tmenu a 
{
	font-size: 36pt;
	color: var(--unreal-blk);
	opacity: 0.8;
}

#tmenu a:hover
{
	line-height: 36pt;
	color: var(--unreal-blk);
	opacity: 1.0;
}

#tmenu a:active
{
	color: var(--unreal-blk);
}

.mnitem
{
	min-width: 80px;
	font-family: Gilroy-ExtraBold, Gilroy-Regular, Gilroy, sans-serif;
}

.noselect
{
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */

 }

#logo
{
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	vertical-align: text-bottom;
	font-weight: 800;
	letter-spacing: -0.07em;
	font-family: Gilroy-ExtraBold, Gilroy-Regular, Gilroy, sans-serif;
}

#tinylogo 
{
	color: var(--unreal-wht);
	float: right;
	text-align: right;
	cursor: default;
	bottom: 0.2em;
	font-size: 24pt;
	position: relative;
	vertical-align: middle;
}

.fleft
{
	position: relative;
	bottom: 30px;
}

.wb
{
	background-color: var(--unreal-wht);
	width: 6em;
}

.bb
{
	background-color: var(--unreal-blk);
	width: 6em;
}

.grad
{
	background-image: linear-gradient(to right, var(--unreal-colour-gr1) , var(--unreal-colour-gr2));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: -0.05em;
}

.olnogradb
{
	font-size: 0.98em;
	-webkit-text-stroke-width: 0.025em;
	-webkit-text-stroke-color: var(--unreal-blk);
	letter-spacing: -0.05em;
	-webkit-text-fill-color: transparent;
}

.olnogradw
{
	font-size: 0.98em;
	-webkit-text-stroke-width: 0.025em;
	-webkit-text-stroke-color: var(--unreal-wht);
	letter-spacing: -0.05em;
	-webkit-text-fill-color: transparent;
}

.gradbg
{
	background-image: linear-gradient(230deg, var(--unreal-colour-gr1) , var(--unreal-colour-gr2));
}

.ol
{
	font-size: 43pt;
	letter-spacing: -0.079em;
	-webkit-text-stroke-width: 0.02em;
	-webkit-text-stroke-color: var(--unreal-wht);
}

#first 
{ 
	position: absolute; 
	top: 25px; 
	left: 28px; 
	z-index: 2; 
	font-size: 2.9em; 
}

#second 
{
	cursor: pointer;
	font-size: 2.9em;
	z-index: 3;
	transition: opacity 0.7s; 
	position: absolute; 
	top: 25px; 
	left: 28px; 
}

#second .grad
{
	background-image: linear-gradient(to right, var(--unreal-colour-gr2) , var(--unreal-colour-gr1));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: -0.05em;
}

#second:hover { opacity: 0; }
#second:active { opacity: 0; }

#sep
{
	background-color: var(--unreal-wht);
	color: var(--unreal-wht);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

#container
{
	transition: border-top-right-radius, 0.5s;
	background-color: var(--unreal-wht);
	color: var(--unreal-blk);
	width: 100%;
	height: calc(100% - 10px);
	position: absolute;
	top: 10px;
	left: 0px;
	border-top-right-radius: 3em;
}

#subcontainer
{
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	text-align: left;
	padding: 35px;
}

#foo
{
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	text-align: left;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 4.9em;
	color: var(--unreal-wht);
}
#foo p 
{
	margin-left: 25px;
}

#bottom-spacer 
{
	height: 8.5em;
}

#footer
{
	background-color: var(--unreal-blk);
	opacity: 0.98;
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	text-align: left;
	position: fixed;
	bottom: 0px;
	float: left;
	left: 0px;
	width: 100%;
	height: 4.5em;
	color: var(--unreal-wht);	
}

#footer p 
{
	margin-left: 25px;
	/*float: left;*/
	position: absolute;
	bottom: 0.4em;
	vertical-align: middle;
}

button
{
	margin-top: 0.5em;
	cursor: pointer;
	border-radius: 10px;
	/*height: calc(1.7em + 0.4vw);*/
	/*min-height: 12pt;*/
	height: 2.4em;
	/*background-color: #4CAF50; */
	border: none;
	color: var(--unreal-wht);
	padding: .2em 2.5em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	/*font-size: calc(11pt + 0.21vw);*/
	font-size: 12pt;
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
}

.prp 
{
	transition: 0.11s;
	background-image: linear-gradient(to top, var(--unreal-colour-gr2) , var(--unreal-colour-gr1));
	opacity: 0.7;
}

.rouge 
{
	background-image: linear-gradient(0deg, rgba(219, 114, 129, 0.70) , rgba(254, 99, 78, 0.70));
	opacity: 0.7;
}

.greene
{
	background-image: linear-gradient(0deg, rgba(44, 193, 128, 0.70) , rgba(156, 212, 130, 0.70));
	opacity: 0.7;
}

.prp:hover
{
	opacity: 1;
}

.rouge:hover
{
	background-image: linear-gradient(0deg, rgba(219, 114, 129, 0.70) , rgba(254, 99, 78, 1.0));
	opacity: 1;
}

.greene:hover
{
	background-image: linear-gradient(0deg, rgba(44, 193, 128, 0.70) , rgba(156, 212, 130, 1.0));
	opacity: 1;
}

.prp:active
{
	opacity: 0.9;
}

.rouge:active
{
	background-image: linear-gradient(0deg, rgba(219, 114, 129, 1.0) , rgba(254, 99, 78, 1.0));
	opacity: 1;
}

.greene:active
{
	background-image: linear-gradient(0deg, rgba(44, 193, 128, 1.0) , rgba(156, 212, 130, 1.0));
	opacity: 1;
}

/* W3C stuff */


/* The switch - the box around the slider */
.switch 
{
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input 
{
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider 
{
	padding-top: 0.5em;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before 
{
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider 
{
	background-image: linear-gradient(45deg, var(--unreal-colour-gr2) , var(--unreal-colour-gr1));
	opacity: 0.7;
}

#grn input:checked + .slider 
{
	background-image: linear-gradient(270deg, rgba(44, 193, 128, 1.00) , rgba(156, 212, 130, 1.00)) !important;
}

#red input:checked + .slider 
{
	background-image: linear-gradient(270deg, rgba(219, 114, 129, 0.60) , rgba(254, 99, 78, 0.60)) !important;
	opacity: 0.6;
}

input:focus + .slider 
{
	box-shadow: 0 0 0px var(--unreal-colour-gr2);
}

input:checked + .slider:before 
{
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round 
{
	border-radius: 34px;
}

.slider.round:before 
{
	border-radius: 50%;
}

/*Viewport stuff*/

@media (min-width: 50em) 
{
	#tmenu
	{
		visibility: hidden;
	}
   
   #desktopmenu 
   {
   		visibility: visible;
   }
}


/*gokulkrishh's media queries for all devices*/

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) 
{}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) 
{}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) 
{}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) 
{
	#container
	{
		border-top-right-radius: 2em;
	}
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) 
{
	#container
	{
		border-top-right-radius: 1.8em;
	}
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) 
{
  
	#subcontainer 
	{
  		max-width: calc(100% - 8.5em);
	}
	#container 
  	{
	  	border-top-right-radius: 1.5em;
  	}
  	#footer
  	{
  		font-size: smaller;
  	}
  	#tinylogo
  	{
  		right: 0px;
  	}  
}
